---
layout: default
title: Team Handbook
suppress_header: true
extra_css:
  - team-handbook.css
---

<div class="handbook-container">
  <div class="handbook-overlay">
    <div class="handbook-content">
      <h1>GitLab Team Handbook</h1>
    </div>
  </div>
</div>

<div id="content">
    <div class="container md-page">
        <h2 id="feedback">Feedback</h2>
        <p>
            Please make a <a href="https://gitlab.com/gitlab-com/www-gitlab-com/merge_requests">merge request</a> to suggest improvements or add clarifications.
            Please use <a href="https://gitlab.com/gitlab-com/www-gitlab-com/issues">issues</a> to ask questions.
        </p>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="toc">
                  <h2 id="table-of-contents">Contents</h2>
                  <ul>
                  <li><a href="#working-for-gitlab">Working for GitLab: the company</a></li>
                    <ul>
                      <li><a href="#general-guidelines">General Guidelines</a></li>
                      <li><a href="#onboarding">Onboarding</a></li>
                      <li><a href="#communication">Communication</a></li>
                      <li><a href="#intellectual-property">Intellectual Property</a></li>
                      <li><a href="#spending-company-money">Spending Company Money</a></li>
                      <li><a href="#paid-time-off">Paid Time Off</a></li>
                      <li><a href="#signing-legal-documents">Signing Legal Documents</a></li>
                    </ul>
                  <li><a href="#working-with-gitlab">Working with GitLab: the software and workflow</a></li>
                    <ul>
                      <li><a href="#general-guidelines">GitLab workflow</a></li>
                      <li><a href="#starting-with-git">Getting Started with Git and GitLab</a></li>
                    </ul>
                  <li><a href="#additional-topics">Additional Topics</a></li>
                    <ul>
                      <li><a href="#sales-process">Sales Process</a></li>
                      <li><a href="#operations">Operations</a></li>
                      <li><a href="#hiring-process">Hiring Process</a></li>
                      <li><a href="#accounting">Accounting</a></li>
                    </ul>
                  </ul>
                </div>


              <div class="general">
                <h2 id="working-at-gitlab">Working at GitLab: the company</h2>
                    <h3 id="general-guidelines">General Guidelines</h3>
                      <ol>
                        <li>We value results, sharing, freedom, efficiency, collaboration, directness, tranparency, kindness, quirkiness and adventure.</li>
                        <li>Working at GitLab Inc. is cooperating with the most talented people you've ever worked with, being the <b>most productive</b> you'll ever be, creating software that is helping the most people you've ever reached.</li>
                        <li>We recognize that inspiration is perishable, if you’re <b>enthusiastic</b> about something that generates great results in relatively little time feel free to work on that.</li>
                        <li>Do what is right for our <b>customers</b> and the rest of the GitLab community, do what is best over the long term, don't be evil.</li>
                        <li>We create <b>simple</b> software to accomplish complex collaborative tasks.</li>
                        <li>Do <b>not</b> make jokes or unfriendly remarks about race, ethnic origin, skin colour, gender or sexual orientation.</li>
                        <li>Use <b>inclusive</b> language. For example, prefer 'Hi everybody' or 'Hi people' to 'Hi guys'.</li>
                        <li>Share problems you run into, ask for help, be forthcoming with information and <b>speak up</b>.</li>
                        <li>Work out in the <b>open</b>, try to use public issue trackers and repositories when possible.</li>
                        <li>Share solutions you find and answers you receive with the <b>whole community</b>.</li>
                        <li>If you make a mistake, don't worry, correct it and <b>proactively</b> let the affected party, your team, and the CEO know what happened, how you corrected it and how, if needed, you changed the process to prevent future mistakes.</li>
                        <li>You can always <b>refuse</b> to deal with people that treat you badly and get out of situations that make you feel uncomfortable.</li>
                        <li>Everyone can <b>remind</b> anyone in the company about the above points. If there is a disagreement about the interpretations, the discussion can be escalated to more people within the company without repercussions.</li>
                        <li>If you are unhappy with anything (your duties, your colleague, your boss, your salary, your location, your computer) please let your boss,or the CEO, know as soon as you realize it. We want to solve problems while they are <b>small</b>.</li>
                        <li>We want to have a great company so if you meet people that are <b>better</b> than yourself try to recruit them to join the company.</li>
                        <li>It is easier to bond with people that have the same constraints, compensate for this and recognize that sales is hard because you are dependent on another organization and development is hard because you have to preserve the ability to quickly improve the product in the future.</li>
                        <li>Our strategy is detailed in the <a href="https://docs.google.com/a/gitlab.com/document/d/1tco4-arhiA3V-XUJAkTtJ6zrfvT0OrUHtID2S1qVsXE/edit">GitLab Strategy document</a>, please read it and contribute.</li>
                        <li>Explicitly note what <b>next action</b> you propose or expect and from who.</li>
                        <li>There is no need for <b>consensus</b>, make sure that you give people that might have good insights a chance to respond (by /cc'ing them) but make a call yourself, <a href="https://twitter.com/sama/status/585950222703992833">consensus doesn't scale</a>.</li>
                        <li>If you need to discuss with a team member for help please realize that probably the majority of the community also doesn't know, be sure to <b>document</b> the answer to radiate this information to the whole community. After the question is answered discuss where it should be documented and who will do it. You can remind other people of this by asking where/who?</li>
                        <li>If you fix something for GitLab.com or one of our users make sure to make that the default (preferred) and radiate the information in the docs, we should run GitLab.com with the default settings and setup our users would also have.</li>
                        <li>Be <b>specific</b> in your written communication, especially externally. Do not reply with a generalization when you can give an example.</li>
                        <li>Be <b>kind</b> in your written communication, especially externally. Be constructive instead of argumentative or condescending.</li>
                        <li>Everyone at the company cares about your output. Being away from the keyboard during the workday, doing private browsing or making personal phone calls is fine and encouraged.</li>
                        <li>We're a distributed company where people work remote without missing out, prefer communication in public issues and chat channels and ensure conclusions of offline conversations are written down.</li>
                      </ol>

                    <h3 id="onboarding">Onboarding</h3>
                        <h4 id="onboarding-handbooks">List of Onboarding Handbooks (in process of merging)</h4>
                            <ol>
                                <li><a href="/handbook/general-onboarding">General onboarding</a></li>
                                <li><a href="/handbook/sales-onboarding">Sales onboarding</a></li>
                                <li><a href="/handbook/developer-onboarding">Developer onboarding</a></li>
                                <li><a href="/handbook/new-hire-day-one-us-employees-only">New hire day one (US employees only)</a></li>
                            </ol>



                    <h3 id="communication">Communication</h3>
                        <h4 id="internal-communication">Internal Communication</h4>
                            <ol>
                                <li>All written communication happens in English, even when sent one on one, because sometimes you need to forward an email or chat.</li>
                                <li>Use <b>asynchronous communication</b> when possible (issues and email instead of chat), issues are preferred over email, email is preferred over Slack.</li>
                                <li>If you have to use email please send one email per subject as multiple items in one email will cause delays (have to respond to everything) or misses (forgot one of the items).</li>
                                <li>Always reply to emails, even when no action is needed. This lets the other person know that you received it. A thread is done when there is a single word reply, such as OK, thanks, or done.</li>
                                <li>If you forward an email without other comments please add FYI (for your information) or FYA (for your action).</li>
                                <li>Emails sent to one person (no cc:) and  likely not include other people later on don't need a subject line (make the first line descriptive since Gmail uses that).</li>
                                <li>If you use Slack, please use a public channel whenever possible, mention the person you want to reach if it is urgent. This ensures it is easy for other people to chime in, and easy to involve other people, if needed.</li>
                                <li>All company data should be <b>shareable</b> by default. Don't use a local text file but leave comments on an issue. Create Google docs with your company Google Apps account.</li>
                                <li>All our procedures and templates are stored in (mostly public) git repositories instead of Google/Word documents. This makes them easier to find and suggest changes to with the organization and shows our commitment to open collaboration outside the organization.</li>
                                <li>Use FYI and /cc if you want to inform people but it does not require an action, use FYA (for your action) if an action of the recipient is required.</li>
                                <li>If there are materials relevant for a calandar meeting (for example a Google Doc) please add the url to the meeting invite description.</li>
                                <li>If you want to schedule time with a teammember for an outside meeting, create a calendar appointment and invite the teammember only, after they respond yes then invite outside people.</li>
                                <li>
                                  Thank people that did a great job in our 'Thanks' channel on Slack.
                                  If someone is an employee just "@" mention them.
                                  If multiple people were working on something try mentioning each person by "@" name. 'Thanks everyone' does not say much.
                                  If someone is not an employee mention our office manager, their name, a quirky gift and link to their work.
                                  For example: <i>"@sylvia Joe deserves a lawnmower for LINK"</i>.
                                  The office manager will approach the people for their address saying we want to send some swag.
                                  We'll ship it in gift wrap with "Thanks for your great work on LINK, love from @gitlab".
                                  Don't thank the CEO or other executives for something that the company paid for, thank GitLab instead.
                                </li>
                            </ol>

                        <h4 id="user-communication-guidelines">User Communication Guidelines</h4>
                            <ol>
                                <li>Keep conversations positive, friendly, real and productive while adding value.</li>
                                <li>If you make a mistake, admit it. Be upfront and be quick with your correction. If you're posting to a blog, you may choose to modify an earlier post, just make it clear that you have done so.</li>
                                <li>There can be a fine line between healthy debate and incendiary reaction. Try to frame what you write to invite differing points of view without inflaming others. You don’t need to respond to every criticism or barb. Be careful and considerate.</li>
                                <li>Answer questions, thank people even if it’s just a few words. Make it a two way conversation.</li>
                                <li>Appreciate suggestions and feedback.</li>
                                <li>Don't make promises that you can't keep.</li>
                                <li>Guide users who ask for help and share links. <a href="https://about.gitlab.com/2014/12/08/explaining-gitlab-bugs/">Types of requests</a>.</li>
                                <li>If someone gives a suggestion, guide them to the <a href="http://feedback.gitlab.com/forums/176466-general">Feature Request Forum</a>.</li>
                                <li>When facing negative comment respond patiently and treat every user as an individual, people with the strongest opinions can turn into <a href="https://about.gitlab.com/2015/05/20/gitlab-gitorious-free-software/">the strongest supporters</a>.</li>
                            </ol>

                        <h4 id="writing-style-guidelines">Writing Style Guidelines</h4>
                            <ol>
                                <li>Do not use rich text, it makes it hard to copy/paste, use markdown instead.</li>
                                <li>Do not create links like "here" or "click here". All links should have relevant anchor text that describes what they link to, such as: "GitLab CI source installation documentation".</li>
                                <li>Always use <a href="http://xkcd.com/1179/">ISO dates</a> in all writing and legal documents, yyyy-mm-dd, e.g., 2015-04-13, and never 04-13-2015 or l3-04-2015</li>
                                <li>If you have multiple points in a comment or email, please number them to make replies easier.</li>
                                <li>When you reference an issue, merge request, comment, commit, page, doc, etc. and you have the url available please paste that in.</li>
                                <li>In urls, always prefer hyphens to underscores.</li>
                                <li>Always refer to 'the rest of the community', not 'the community' when referencing people outside the company since we're all in this together as one community.</li>
                                <li>All people working for GitLab the company are the <a href="https://about.gitlab.com/team/">GitLab team</a>, we also have the <a href="https://about.gitlab.com/team/">Core team</a> that is part GitLab team, part volunteers.
                                <li>Always write GitLab with a capitalized G and L, even when writing GitLab.com.</li>
                                <li>When stating monetary amounts shouldn't have one digit, so prefer $19.90 to $19.9</li>
                                <li>If an email needs a response write the ask at the top of it.</li>
                                <li>Our homepage is https://about.gitlab.com/ (with the about. and with https).</li>
                                <li>If you use headers properly format them (## in markdown, 'Heading 2' in Google docs), start at the second header level because header level 1 is for titles, do not end headers with a colon.</li>
                                <li>Read our <a href="https://gitlab.com/gitlab-org/gitlab-ce/blob/master/doc_styleguide.md">Documentation Styleguide</a> for more information when writing documentation.</li>
                            </ol>

                    <h3 id="intellectual-property">Intellectual Property</h3>
                        <ol>
                            <li>Take proper care of any <b>confidential</b> information you get from our customers.</li>
                            <li>If you copy code always <b>check</b> the license and attribute when needed or appropriate.</li>
                            <li>Check community <b>contributions</b> and do not merge it when there can be doubt about the ownership.</li>
                            <li>Only the CEO of the company <b>signs</b> legal documents such as NDA’s. Sales people and the business office manager can upload them via Hellosign.</li>
                         </ol>



                    <h3 id="spending-company-money">Spending Company Money</h3>
                        <ol>
                            <li>Dutch employees will get their <b>salary</b> wired on the 25th of every month and will receive their salary slip by email on or before that date.</li>
                            <li>Spend company money like it is your <b>own</b> money before taxes (since company expenses are not taxed you can spend it a bit more liberal than your own).</li>
                            <li>You don't have to ask permission before making purchases in the interest of the company. When in doubt, do <b>inform</b> your manager before the purchase, or as soon as possible after the purchase.</li>
                            <li><b>File</b> your expense report 7 days after the end of the calendar quarter.</li>
                            <li>Any non-company expenses paid with a company credit card will have to be reported to your manager as soon as possible and <b>refunded</b> in full within 14 days.</li>
                            <li><b>Mileage</b> is reimbursed according to local law: <a href="http://www.irs.gov/Tax-Professionals/Standard-Mileage-Rates">US rate per mile</a>, or <a href="http://www.belastingdienst.nl/wps/wcm/connect/bldcontentnl/belastingdienst/zakelijk/auto_en_vervoer/auto_van_de_onderneming/autokosten/u_rijdt_in_uw_eigen_auto">rate per km</a> in the Netherlands.</li>
                            <li>The company will pay for the following <b>items</b> if you need it for work or use it mainly for business, and local law allows us to pay for it without incurring payroll taxes:
                            <ul>
                              <li>Laptop</li>
                              <li>Laptop carrying bag</li>
                              <li>External <a href="http://www.amazon.com/gp/product/B009C3M7H0?psc=1&redirect=true&ref_=oh_aui_detailpage_o04_s00">monitor</a>>, keyboard, mouse, webcam and ethernet connector</li>
                              <li>Headset</li>
                              <li>(Height adjustable) desk</li>
                              <li>Ergonomic chair</li>
                              <li>Internet connection, for Dutch employees see <a href="https://docs.google.com/a/gitlab.com/document/d/1J70geARMCjRt_SfxIY6spdfpTbv_1v_KDeJtGRQ6JmM/edit#heading=h.5x5ssjstqpkq">Regeling Internet Thuis</a></li>
                              <li>Mobile phone and subscription</li>
                              <li>Telephone land line</li>
                              <li>Skype calling credit, we can autofill your account</li>
                              <li>Google Hangouts calling credit</li>
                              <li>Office space (if working from home is not practical)</li>
                              <li>Upgrade to Business Class on EU <=> SFO flights if it is <a href="https://www.google.com/search?q=300+eur+in+usd">EUR 300</a> or cheaper</li>
                              <li>Upgrade to Economy Plus on EU <=> SFO flights if you’re taller than 1.95m / 6'5"</li>
                              <li>Anything else you need? Please ask!</li>
                              <li>To order please send a screenshot of what you need to purchasing@gitlab.com</li>
                            </ul></li>
                            <li><b>Expense Reimbursement</b> GitLab uses Expensify to facilitate the reimbursement of your expenses. You will receive an invitation by email to join GitLab's account. Please set up your account by following the instructions in the invitation.</li>
                            <li><b> Expense Policy</b>
                            <ul>
                              <li>Max Expense Amount - 5,000 USD or 5,000 EUR</li> (per receipt, if you need more please ask in advance)
                              <li>Receipt Required Amount - 25 USD or 25 EUR</li> (anything below can be filed without a receipt)
                              <li>If you are new to Expensify and would like a brief review, please follow the links below</li>
                              <a href="http://help.expensify.com/getting-started/">Getting Started</a></li>
                        </ol>


                    <h3 id="paid-time-off">Paid Time Off</h3>
                      <ol>
                        <li>Don't frown on people taking time off, but rather encourage that people take care of themselves and others.</li>
                        <li>Working hours are flexible, you are invited for the team call if you are available, it is every workday from 8:30am to 9:00am Pacific Time (mostly 5:30pm - 6:00pm Central European Time).</li>
                        <li>You don't need to take a day off to go to the gym, go grocery shopping, doing household chores, help someone, take care of a loved one, etc. If something comes up or takes longer than expected and you have urgent tasks and you're able to communicate, just ensure the rest of the team <b>knows</b> and someone can pick up any urgent tasks.</li>
                        <li>You do not need to ask for permission to take days off. You do need to ensure that not more than <b>half</b> of the people that can help with availability emergencies (24/7), regular support, sales or development are gone at any moment. You can check for this on the availability calendar, so be sure to add appointments early.</li>
                        <li>If someone from the 24/7 team leaves, set up a <b>call</b> two weeks before that so the other people can divide the on-call days.</li>
                        <li>Note the days off in your employee <b>doc</b> before you create a calendar appointment. We register time off so that nobody has to feel bad for taking time off. If you want more time off than you have saved (creating a negative allowance) we can discuss this.
                        <li>Add an <b>appointment</b> to the GitLab B.V. availability calendar as you know your plans, you can always change it later.</li>
                        <li>In case it can be useful add your panned time off as a <b>FYI</b> on the next agenda of the team call.</li>
                        <li>We suggest to take the <b>official</b> days off in the country you are currently in. The total of your paid time off should be 32 days per year, <a href="http://www.iamexpat.nl/expat-page/survival-kit/dutch-holidays">Dutch holidays</a> are 9 fixed (23 flexible, total 32), <a href="http://www.officeholidays.com/countries/usa/index.php">USA holidays</a> are 12 fixed  (20 flexible, total 32).  If you want, you can also do a mix of, for example, the Ecuador and US holidays.</li>
                        <li>We will <b>help</b> clients during official days off, unless they are official days off in both the Netherlands and the U.S. We try to have people working who are in a country that don't have an official day off. If you need to work during an official day off in your country, you get a day off allowance in return.</li>
                        <li>Accumulated time off will not be <b>paid</b> out, but it does not expire, either.</li>
                      </ol>
                      
                    <h3 id="signing-legal-documents">Signing Legal Documents</h3>
                      If you need to sign, fill out, send or retrieve documents electronically, please send a copy of the document to legal@gitlab.com with the following information.</li>
                      <ol>
                            <li> Names of those who need to sign the document.</li>
                            <li> Email addresses of any non-GitLab employees needing to sign the document.</li>
                            <li> Any contractual information that needs to be included in the document.</li>
                            <li> Deadline by which you need the document prepared.</li>
                            <li> Deadline by which you need the document to be signed, dated and submitted.</li>
                      </ol>
                      The document will be managed through Hellosign, a cloud-based electronic signature tool.

              </div>

              <div class="gitlab-workflow">
                <h2 id="working-with-gitlab">Working with GitLab: the software and workflow</h2>
                    <h3 id="gitlab-workflow">GitLab Workflow</h3>
                      <ol>
                        <li>Always <b>create</b> an issue for things you work on. If it is worth spending time on it is worth creating an issue for it since that enables other people to learn and help. You can always edit the description or close it when the problem is something different or disappears.</li>
                        <li><b>'Double check'</b> issues to prevent internal confusion and us failing to report back to the reporters. For example, open an issue with link to ZenDesk and close the issue with copy of the response. Or add 'Report: ' lines to the description with links to relevant issues and feature requests and ensure they are closed and note this with a comment. If you are not responsible for reporting back please do not close an issue, instead reassign it.</li>
                        <li>If issues are related <b>crosslink</b> them (a link from each issue to the other one). Put the links at the top of the issues' description with a short mention of the relationship (Report, etc.). If there are more than 2 issues use one issue as the central one and crosslink all issues to this one. Please, also crosslink between Zendesk and GitLab issues.</li>
                        <li>Give the community the <b>chance to help</b>. For example: place issues on the feedback tracker, leave comments in rake check tests about what you can run manually and ask 'can you send a merge request to fix this?'.</li>
                        <li>Do not leave issues open for a long time, issues should be <b>actionable</b> and realistic. If you are assigned but don't have time mention it to someone. If nobody is assigned and it is not a priority please ensure the community can help and close it.</li>
                        <li>Make a conscious effort to <b>prioritize</b> your work. The priority of items depends on multiple factors: is there a team member waiting for the answer, what is the impact if you delay it, how many people does it affect, etc. What follows is a general guideline from urgent to less urgent:
                        <ol>
                            <li><b>Emergency</b> issues from standard or plus subscribers.</li>
                            <li><b>Security</b> issues.</li>
                            <li><b>Data integrity</b> (not losing data).</li>
                            <li><b>Availability</b> of GitLab.com.</li>
                            <li><b>Subscriber</b> questions.</li>
                            <li><b>Regression</b> issues.</li>
                            <li><b>Consultancy</b> work.</li>
                            <li><b>Promised</b> features.</li>
                            <li><b>Growth</b> efforts.</li>
                            <li><b>Other</b> work.</li>
                        </ol>
                        </li>
                        <li>Pick issues from the current milestone and only assign issues to yourself when you start to work on them.</li>
                        <li>We keep our <b>promises</b> and do not make external promises without internal agreement.</li>
                        <li>We try not to assign issues but to have people <b>pick issues</b> in a milestone themselves, do not pick one until you are actually working on it.</li>
                        <li>Even when something is not done, share it internally so people can comment early and prevent rework. Mark it <a href="http://doc.gitlab.com/ce/workflow/wip_merge_requests.html">WIP</a> so it is not merged by accident.</li>
                        <li>If you are assigned to merge a Merge Request and there is a merge conflict, consider trying to resolve it <b>yourself</b> instead of asking the MR creator to resolve the conflict. If it is easy to resolve you avoid a round trip between you and the creator, and the MR gets merged sooner. This is a suggestion, not an obligation.</li>
                        <li>When you create a merge request, please <b>mention</b> the issue that it solves in the description but avoid auto closing it by saying Fixes #1 or Solves #1. Since we frequently have to report back to customers or the rest of the community, issues are not done when the code is merged.</li>
                        <li>If you ask a question to a specific person, always start the comment by mentioning them; this will ensure they see it if their notification level is mentioned and other people will understand they don't have to respond.</li>
                        <li>Do not close an issue until code has been merged, it has been <b>reported</b> back to all parties, all issue trackers are updated and any documentation is written and merged.</li>
                      </ol>

                    <h3 id="starting-with-git">Getting Started with Git and GitLab</h3>
                    Step-by-step guides on the [basics of working with Git and GitLab.](http://doc.gitlab.com/ce/gitlab-basics/README.html)
                        <h4>Install your SSH Key:</h4>
                        <ol>
                        	<li>Open Terminal window (command + space bar; search for Terminal)</li>
                        	<li>Type: cat ~/.ssh/id_rsa.pub</li>
                            <li> Copy SSH Key and paste into [dev.gitlab.org](https://dev.gitlab.org) and [gitlab.com](https://gitlab.com) profile</li>
                            <li> Click on avatar</li>
                            <li> Edit profile settings</li>
                            <li> Click on SSH Key (the key icon)</li>
                        </ol>
                        <h4>Install Git</h4>
                        <ol>
                            <li>Check Git version type:  git --version </li>
                            <li>If Git is not installed, you will get prompted to install </li>
                        </ol>
                        <h4>Basic Git commands</h4>
                        <ol>
                            <li>Create new branch: git checkout -b test_changes</li>
                            <li>Show what has changed: git status</li>
                            <li>Commit change with message: git commit -am “text"</li>
                            <li>Push branch to origin: git push origin <branch name></li>
                            <li>Clone a project: git clone <project URL></li>
                            <li>[Create a directory](/handbook/create-directory)</li>
                        </ol>
                        <h4>Basic Shell Commands</h4>
                        <ol>
                            <li> ls = tells you what's inside the folder where you are</li>
                            <li> cd = change directory</li>
                            <li> pwd  = tell where you are</li>
                            <li> Command T = open new terminal window</li>
                            <li> Write and quit = :wq</li>
                        </ol>
                        <h4>Install Ruby Manager and Ruby to create a blog post</h4>
                        <h5>Install Ruby Manager</h5>
                        <ol>
                            <li>Go to: [https://rvm.io/](https://rvm.io)</li>
                            <li>Type: \curl -sSL https: //get.rvm.io | bash -s stable</li>
                            <li>Close Terminal</li>
                            <li>Open new Terminal to load new environment</li>
                        <h5>Install Ruby</h5>
                        <ol>
                            <li> Type into Terminal: rvm install 2.2.1</li>
                            <li> Prompt to enter password for your machine</li>
                            <li> ruby --version</li>
                            <li> bundle install</li>
                            <li> gem install bundler(/li>
                        </ol>
                        <h4>Preview website changes locally</h4>
                        <ol>
                            <li> Type: bundle exec rake preview</li>
                            <li> Type: http: //localhost:4000</li>
                        </ol>

                    To edit an HTML you need to install [text editor](http://www.sublimetext.com/2)


              </div>
              <div class="additional-topics">
              <h2 id="additional-topics">Additional Topics</h2>
                <h3 id="human-resources"><a href="/handbook/human-resources">Human Resources</a></h3>
                <h3 id="travel"><a href="/handbook/travel">Travel</a></h3>
                <h3 id="sales-process"><a href="/handbook/sales-process">Sales process</a></h3>
                <h3 id="operations"><a href="/handbook/operations">Operations</a></h3>
                <h3 id="hiring-process"><a href="/handbook/hiring">Hiring Process</a></h3>
                <h3 id="accounting"><a href="/handbook/accounting">Accounting</a></h3>
              </div>
            </div>
        </div>
    </div>
</div>