---
layout: default
title: Jobs
suppress_header: true
extra_css:
  - jobs.css
---

<div class="wrapper">
  <div class="jobs-container">
    <div class="jobs-overlay">
      <div class="jobs-content">
        <h1>Jobs</h1>
      </div>
    </div>
  </div>

  <div class="container vacancies">
    <br>
    <div class="alert alert-info" role="alert">
      <strong>Want to work for GitLab as a developer?</strong>
      <br>
      Best way to get hired is to start contributing.
      Anyone in the top 50 contributors of CE and top 10 of CI gets a guaranteed interview.
    </div>

    <div class="all-jobs">


        <script src='https://www.workable.com/assets/embed.js' type='text/javascript'></script>
        <script type='text/javascript' charset='utf-8'>
        whr(document).ready(function(){
        whr_embed(34611, {detail: 'descriptions', base: 'jobs', zoom: 'country', grouping: 'none'});
        });
        </script>
        <div id="whr_embed_hook"></div>
    </div>

    <div class="title">
      <h4>If you're interested, our <a href="/team-handbook">team handbook is publicly available.</a></h4>
    </div>

  </div>
</div>
